body{
  background-color: rgb(112, 73, 203);
  text-align: center;
  font-size: 30px;
  font-family: Comic Sans MS;
} 

.bl1{
  margin: 0 auto;
  height: 500px;
  width: 512px;
  background-image: url(ball.png);
}

input[type="text"] {
  width: 400px;
  height: 40px;
  border-radius: 7px;
  font-family: Comic Sans MS;
  background-color: rgb(158, 11, 226);
  font-size: 30px;
  text-align: center;
  box-shadow: 60px;
}
